:root {
  /* primary colors */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* neutral colors */
  --color-gray-lte: hsl(0, 0%, 98%);
  --color-gray-med: hsl(229, 6%, 66%);
  --color-gray-drk: hsl(234, 12%, 34%);

  /* fonts */
  --ff: "Poppins", sans-serif;
  --fw-lte: 200;
  --fw-med: 400;
  --fw-bld: 600;

  /* animation */
  --move-quick: all 500ms ease-in-out;
  --move-slow: all 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  background-color: var(--color-gray-lte);
  margin: 6vh 0 6vh 0;
}

h1 {
  color: var(--color-gray-drk);
  font-family: var(--ff);
  font-weight: var(--fw-lte);
  font-size: clamp(1.5rem, 1.0852rem + 2.2124vw, 3rem);
  line-height: 1.25em;
  text-align: center;
  transition: var(--move-quick);
}

h1 span {
  font-weight: var(--fw-bld);
}

h2 {
  color: var(--color-gray-med);
  font-family: var(--ff);
  font-size: clamp(1.015rem, 1.0324rem + 0.3704vw, 1.3rem);
  font-weight: var(--fw-med);
  text-align: center;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
  transition: var(--move-quick);
}

.card-flex {
  margin: 7vh 0;
  width: 60vw;
  transition: var(--move-quick);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  place-items: center;
  gap: 50px;
  justify-content: center;
}

.card {
  /* height: 300px;
  width: 300px; */
  background-color: #fff;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px 40px 50px;
  transition: var(--move-quick);
}

.card h3 {
  color: var(--color-gray-drk);
  font-family: var(--ff);
  font-weight: var(--fw-bld);
  font-size: clamp(1.5rem, 1.042rem + 0.4425vw, 1.75rem);
  margin: 10px 0;
  transition: var(--move-slow);
}

.card p {
  color: var(--color-gray-med);
  font-family: var(--ff);
  font-weight: var(--fw-med);
  font-size: clamp(1.025rem, 0.9668rem + 0.177vw, 1.05rem);
}

.card img {
  align-self: flex-end;
  aspect-ratio: 1 / 1;
  float: right;
  height: 70px;
  width: auto;
  justify-content: center;
  margin: 30px 0 0 0;
}

.card-flex {
  display: grid;
  /* grid-auto-columns: ". . .";
  grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  place-items: center;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card:last-child:nth-child(1n - 1) {
  grid-column-end: 3;
}

.card.super {
  border-top: 5px solid var(--color-cyan);
}

.card.team {
  border-top: 5px solid var(--color-red);
}
.card.calc {
  border-top: 5px solid var(--color-blue);
}
.card.karma {
  border-top: 5px solid var(--color-orange);
}

.card.super,
.card.team,
.card.calc,
.card.karma {
  filter: drop-shadow(0 1px 8px #4c4e6130);
  filter: drop-shadow(0 2px 8px #4c4e6130);
}

.attribution {
  font-family: var(--ff);
  font-weight: var(--fw-lte);
  font-size: clamp(0.75rem, 0.7251rem + 0.1327vw, 0.9375rem);
  text-align: center;
}

.attribution a {
  font-weight: var(--fw-med);
}

footer {
  margin-bottom: 5vh;
}

@media screen and (min-width: 2001px) {
  .card.super,
  .card.calc {
    margin-top: 13vh;
  }

  .card.team,
  .card.karma {
    margin-top: -13vh;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .card-flex {
    width: 92%;
  }
  .card.super,
  .card.calc {
    margin-top: 16vh;
  }

  .card.team,
  .card.karma {
    margin-top: -16vh;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .card-flex {
    width: 94%;
    gap: 20px;
  }
  .card.super,
  .card.calc {
    margin-top: 16vh;
  }

  .card.team,
  .card.karma {
    margin-top: -16vh;
  }
}

@media screen and (max-width: 899px) {
  body {
    margin: 12vh 0 8vh 0;
  }
  h2 {
    max-width: 90%;
  }
  .card-flex {
    display: block;
    width: 90vw;
    margin: 7vh auto;
  }
  .card {
    min-height: 250px;
    max-width: 100%;
    padding: 8px 30px;
    margin: 40px 0;
  }
  .card.super,
  .card.team,
  .card.calc,
  .card.karma {
    margin: 40px 0;
    filter: drop-shadow(0 6px 12px #4c4e6170);
  }
  .card h3 {
    margin: 20px 0 5px 0;
  }
  .card img {
    margin: 20px 0 0 0;
    height: 50px;
  }
}
